@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: linear-gradient(#0aecfc, #06a9b4);
  height: 100vh;
  width: 100vw;
}

.container {
  border: 1px solid red;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  min-width: 500px;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  box-shadow: 1px 1px 5px #00000073;

  & .loginHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;

    & img {
      width: 300px;
      margin-bottom: 10px;
      height: 50px;
    }
  }

  & form {
    display: flex;
    flex-direction: column;
    padding: 6px;
    align-items: flex-start;
    justify-content: center;
    max-width: 300px;
    min-width: 300px;
    padding-bottom: 20px;

    & label {
      padding-top: 10px;
    }

    & input {
      width: 100%;
    }
  }

  & .footerLogin {
    display: flex;
    flex-direction: column;
    width: 300px;

    & button {
      width: 100%;
      border-radius: 10px;
      padding: 8px;
      color: #fff;
      border: 1px solid black;
      background: linear-gradient(to right, #0aecfc, #06a9b4);
    }
  }
}